<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Member Area
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home" padding>
    <h3>Welcome inside, {{username}}!</h3>
    Your Email is: {{email}}
</ion-content>