 page-register {
     .login-content {
         background: #56CA96;
         .login-box {
             background: #509287;
             padding: 20px 20px 0px 20px;
             margin-top: 30px;
         }
         ion-row {
             align-items: center;
             text-align: center;
         }
         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
         .signup-col {
             margin: 0px 16px 0px 16px;
             padding-bottom: 20px;
         }
         .item-inner {
             border-bottom-color: #ffffff !important;
             box-shadow: none !important;
         }
         .submit-btn {
             background: #51CFB1;
             border-radius: 30px !important;
             border: 1px solid #ffffff;
         }
     }
     .registration-card {
         background: #09a5d457;
     }
 }