<ion-header>
    <ion-navbar color="dark">
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" class="no-scroll" padding>

    <ion-card-header class="registration-card">
        <form (ngSubmit)="register()" #registerForm="ngForm">

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" placeholder="First Name" name="email" [(ngModel)]="registerCredentials.firstname" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" placeholder="Surname" name="password" [(ngModel)]="registerCredentials.surname" required></ion-input>
                    </ion-item>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" placeholder="Address" name="email" [(ngModel)]="registerCredentials.address" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" placeholder="City" name="email" [(ngModel)]="registerCredentials.city" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" placeholder="Provice" name="email" [(ngModel)]="registerCredentials.province" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="tel" placeholder="Phone Number" name="email" [(ngModel)]="registerCredentials.phone" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="email" placeholder="Email Address" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="password" placeholder="Password" name="email" [(ngModel)]="registerCredentials.password" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="password" placeholder="Confirm Password" name="email" [(ngModel)]="registerCredentials.confirm_password" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
                </ion-col>
            </ion-row>

        </form>
    </ion-card-header>

</ion-content>