<ion-content>
    <ion-grid>
        <ion-row align-items-center>
            <ion-col><img src="../../assets/imgs/Toot_Logo-01.svg"></ion-col>
        </ion-row>
        <ion-row style="padding: 65px 20px 20px 20px;">
            <ion-card-header class="login-card">

                <form (ngSubmit)="login()" #registerForm="ngForm">
                    <ion-grid>
                        <ion-row>
                            <ion-item>
                                <ion-icon name="contact"></ion-icon>
                            </ion-item>
                            <ion-item>
                                <ion-label floating>Username</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label floating>Password</ion-label>
                                <ion-input type="password"></ion-input>
                            </ion-item>


                            <ion-row>
                                <ion-col align-self-start>
                                    <button ion-button color="primary" id="submit" class="submit-btn" type="submit" [disabled]="!registerForm.form.valid">Login</button>
                                </ion-col>
                                <ion-col align-self-end>
                                    <button ion-button color="light" id="register" class="register-btn" (click)="createAccount()">Sign Up</button>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col>
                                    <ion-label for="remember">Remember Me</ion-label>
                                    <ion-checkbox id="remember"></ion-checkbox>
                                </ion-col>
                                <ion-col>
                                    <ion-label for="forgotpwd">Forgot Password?</ion-label>
                                    <ion-checkbox type="checkbox" id="forgotpwd"></ion-checkbox>
                                </ion-col>
                            </ion-row>

                        </ion-row>
                    </ion-grid>
                </form>
            </ion-card-header>
        </ion-row>
    </ion-grid>
</ion-content>