page-login {
    .login-content {
        background-image: url('../../assets/imgs/Background-01.svg'); //background: #17A3DD;
        width: 100%;
        background-size: 50% 50%;
        background: linear-gradient(color($colors, toper, base), color($colors, lighters, base), color($colors, doper, base)), url($myUrl)no-repeat center center fixed;
        overflow: overflow-y auto;
        background-position: center center;
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .login-box {
            background: #399F8B;
            padding: 20px 20px 0px 20px;
            margin-top: 30px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: #51CFB1;
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
    .login-card {
        background: #09a5d457;
    }
}