// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Humanst';
    src: url('../assets/fonts/roboto-bold.woff2') format('woff2'), url('../assets/fonts/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
    color: color($colors, dark, base);
}

.no-scroll .scroll-content {
    overflow: hidden;
}

ion-navbar {
    border-bottom: 1.5px solid color($colors, nav-border-bottom, base);
}

button {
    box-shadow: none;
    border-radius: 4px;
}

.button {
    box-shadow: none;
    border-radius: 4px;
}

.profile-pic {
    width: 4em auto;
    height: 4em auto;
    border-radius: 50px;
}

ion-searchbar {
    box-shadow: none;
    border-radius: 4px;
}

ion-content {
    background-image: url('../assets/imgs/Background-01.png');
    background-size: cover;
}

ion-input {
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.main {
    ion-item {
        height: 100px;
        border-bottom: 1.5px solid color($colors, nav-border-bottom, base);
        padding: 0px
    }
    .profile-pic {
        border: 1.3px solid color($colors, nav-border-bottom, base);
    }
}